* {
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    font-family: Verdana;
    background-color: antiquewhite;
}
#container {
    justify-content: center; 
    -ms-flex-align: center;
}
#tabuleiro {
    background-color: purple;
    width: 360px;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
#tabuleiro>div {
    border: 1px solid pink;
    background-color: violet;
    font-size: 6rem;
    width: 110px;
    height: 110px;
}